{% extends 'base.html' %}

{% block content %}
    <div class="row">
    {% if items %}
        {% for item in items %}
            <div class="media col-md-7 col-md-offset-3">
                <div class="media-left">
                <a href="#">
                    <img class = "album-image media-object" src= {{ item.AlbumPic }} alt="七里香"/>
                </a>
                </div>
                <div class="media-body">
                <table class="table">
                <tr>
                    <td>{{item.SongName}}</td>
                    <td>{{item.Artist}}</td>
                    <td>{{item.Album}}</td>
                </tr>
                </table>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-7 col-md-offset-3">
            <div class="pagination" style="margin-left:40%;">
                <nav aria-label="...">
                    <ul class="pager">
                        {% if items.has_previous %}
                        <li class="previous"><a href="?type={{request.GET.type}}&value={{request.GET.value}}&page={{ items.previous_page_number }}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></li>
                        {% else %}
                        <li class="previous disabled"><a href="#"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></li>
                        {% endif %}
                        {% if items.has_next %}
                            <li class="next"><a href="?type={{request.GET.type}}&value={{request.GET.value}}&page={{ items.next_page_number }}"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></li>
                        {% else %}
                            <li class="next disabled"><a href="#"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    {% else %}
    <div class="col-md-7 col-md-offset-3">
        <div class="alert alert-danger" style="margin-left:10px; width:90%;">
            <p>No results found for <strong> {{ request.GET.value }} </strong></p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}