.brand{
    margin-top: 50px;
}
.search{
    margin-top: 30px;  
    margin-bottom: 40px;
}
.album-image{
    width:64px;
    box-shadow: 2px 2px 2px #888888;
}
/*.media-body td{
    width:30%;
}*/
hr.music-style {
    padding: 0;
    border: none;
    border-top: medium double #505050;
    color: #E80050;
    text-align: center;
    margin-bottom: 60px;
}
hr.music-style:after {
    content: "\266C";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 5em;
    padding: 0 0.25em;
    background: white;
}

/* 分隔线统一样式 */
hr{
  margin: 40px 0;
}
.album{
    width:100%;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 30px;
}
.player{
    margin-top:20px;
}
.lyric{
    margin-left:70px;
    width:100%;
    height: 400px;
    padding-left: 20px;
    padding-top: 10px;
}
textarea {
    resize: none;
}
.main{
    margin-bottom: -50px;
    min-height: 100%;  
}
.footer{
    height: 50px;
    margin-top:50px;
}
.occupy{
    height: 50px;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.highlights{
    padding-left: 8px;
    padding-top: 8px;
}

#recordingslist audio {
    display: block;
    margin-bottom: 10px;
}
.file-upload{
    padding-top:10px;
}

.rating {
  margin: 10px 0;
}

.rating i {
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: #eee;
  border-radius: .22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px #b3b3b3;
}

/** Colors */
.rating-1 .star-1,
.rating-1-half .star-1 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

.rating-1-half .star-2 {
  border-left-color: #cc8b1f;
}

.rating-2 .star-1,
.rating-2-half .star-1 {
  border-color: #dcb228;
  background: #dcb228;
}

.rating-2 .star-2,
.rating-2-half .star-2 {
  border-color: #dcb228;
  background: #dcb228;
}

.rating-2-half .star-3 {
  border-left-color: #dcb228;
}

.rating-3 .star-1,
.rating-3-half .star-1 {
  border-color: #f0991e;
  background: #f0991e;
}

.rating-3 .star-2,
.rating-3-half .star-2 {
  border-color: #f0991e;
  background: #f0991e;
}

.rating-3 .star-3,
.rating-3-half .star-3 {
  border-color: #f0991e;
  background: #f0991e;
}

.rating-3-half .star-4 {
  border-left-color: #f0991e;
}

.rating-4 .star-1,
.rating-4-half .star-1 {
  border-color: #f26a2c;
  background: #f26a2c;
}

.rating-4 .star-2,
.rating-4-half .star-2 {
  border-color: #f26a2c;
  background: #f26a2c;
}

.rating-4 .star-3,
.rating-4-half .star-3 {
  border-color: #f26a2c;
  background: #f26a2c;
}

.rating-4 .star-4,
.rating-4-half .star-4 {
  border-color: #f26a2c;
  background: #f26a2c;
}

.rating-4-half .star-5 {
  border-left-color: #f26a2c;
}

.rating-5 .star-1,
.rating-5-half .star-1 {
  border-color: #dd050b;
  background: #dd050b;
}

.rating-5 .star-2,
.rating-5-half .star-2 {
  border-color: #dd050b;
  background: #dd050b;
}

.rating-5 .star-3,
.rating-5-half .star-3 {
  border-color: #dd050b;
  background: #dd050b;
}

.rating-5 .star-4,
.rating-5-half .star-4 {
  border-color: #dd050b;
  background: #dd050b;
}

.rating-5 .star-5,
.rating-5-half .star-5 {
  border-color: #dd050b;
  background: #dd050b;
}

.rating-5-half .star-6 {
  border-left-color: #dd050b;
}