{% extends 'base.html' %}
{% block title %}LaLa Music{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-5">
            <form enctype="multipart/form-data" action="/recognize/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputFile">Upload your mp3 file</label>
                    <input type="file" id="exampleInputFile" name="mp3file">
                    <p class="help-block">Upload a mp3/wma file and find which song it is!</p>
                </div>
                <button type="submit" class="btn btn-default">Go</button>
            </form>
        </div>
        
    </div>
        
{% endblock %}